<!-- importando o component navbar -->
<app-navbar></app-navbar>
<!-- <div class="container-line1">
</div> -->
<!-- tela de configuracao do ramal -->
<!-- <div class="wrapper">
    <form [formGroup]="cadastrarRamal" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Ramal</mat-label>
        <input formControlName="ramal" matInput placeholder="XXXX" name="ramal" id="ramal" [(ngModel)]="pesquiza.ramal">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Senha</mat-label>
        <input formControlName="senha" matInput type="password" name="password" id="password"
          [(ngModel)]="pesquiza.senha">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Serial</mat-label>
        <input formControlName="serial" matInput placeholder="xxxxxxxxx" name="serial" id="serial"
          [(ngModel)]="pesquiza.serial">
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Ip central</mat-label>
        <input formControlName="ipCentral" matInput placeholder="xxx.xxx.x.x" name="ip" id="ip"
          [(ngModel)]="pesquiza.ipCentral">
      </mat-form-field>
    </form>
    <div class="wrapper-1">
      <mat-card-actions>
        <button (click)="Submit()" class="colored-toast" mat-raised-button color="accent" class="button">Salvar</button>
      </mat-card-actions>
    </div>
  </div> -->
<!-- tabela de ramais -->
<app-pesquizar-ramal></app-pesquizar-ramal>